<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>Server Programming</title>
</head>
<body>
	<h1>List of questions</h1>
	
	<table>
	
	<tr>
		<th>Questions</th>
	</tr>
	
	<tr th:each="question : ${questions}">
		<td th:text="${question.content}">Content</td>
		<form th:object="${question}" th:action="/answerSave" action="#" method="put">
			<label for="answer">Answer</label>
		  <input type="text" id="answer" th:field="*{answer}" />
		  <div style="clear: both; display: block; height: 15px;"></div>
			
		  <input type="submit" value="submit"></input>
	  </form>
	</tr>
	
	</table>
</body>
</html>